<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.house.dao.HouseStateMapper">
  <resultMap id="BaseResultMap" type="com.aaa.house.entity.HouseState">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name
  </sql>
  <select id="queryStates" resultType="map">
    select
    <include refid="Base_Column_List" />
    from house_state
  </select>

  <select id="queryState2" resultType="map">
    select
    <include refid="Base_Column_List" />
    from house_state
    where id=2
  </select>

  <select id="queryAgents" resultType="map">
    select id,ename from employee where roleid=3
  </select>

  <!--向房东表中添加房东，并需要获取到该房东的编号插入到房屋表的landlord中-->
  <insert id="addHost" parameterType="com.aaa.house.entity.House">
    insert into customer(cname,cphone) values (#{cname,jdbcType=VARCHAR}, #{cphone,jdbcType=VARCHAR})
  </insert>

  <!--待审核开始-->
  <!--根据条件查询所有已审核待发布的-->
  <select id="queryUnchecked" resultType="map" parameterType="map">
    select h.*, hs.name  from house h join house_state hs on h.state=hs.id
    <where>
      h.state=2
      <!--根据房屋小区、地址查询-->
      <if test="hrent!=null and hrent!=''">
        and (h.htitle like "%"#{hrent}"%"
        or h.hadr like "%"#{hrent}"%")
      </if>
    </where>
    limit ${start},${pageSize}
  </select>
  <!--计算所有待审核的-->
  <select id="uncheckedCount" resultType="int">
      select count(*) from house h join house_state hs on h.state=hs.id where h.state=2
    </select>
  <!--待审核结束-->

  <!--已审核待发布开始-->
    <!--根据条件查询所有已审核待发布的-->
    <select id="queryChecked" resultType="map" parameterType="map">
      select h.*, hs.name  from house h join house_state hs on h.state=hs.id
      <where>
      h.state=4
      <!--根据房屋小区、地址查询-->
        <if test="hrent!=null and hrent!=''">
          and (h.htitle like "%"#{hrent}"%"
          or h.hadr like "%"#{hrent}"%")
        </if>
      </where>
      limit ${start},${pageSize}
    </select>
    <!--计算所有已审核待发布的-->
    <select id="checkedCount" resultType="int">
      select count(*) from house h join house_state hs on h.state=hs.id where h.state=4
    </select>
  <!--已审核待发布结束-->

  <!--已发布开始-->
  <!--根据条件查询所有已发布的-->
  <select id="queryReleased" resultType="map" parameterType="map">
    <!--select h.*, hs.name from house h join house_state hs on h.state=hs.id-->
    select hhs.*,cu.cname,cu.cphone,cu.ccard from
    (select h.*, hs.name  from house h join house_state hs on h.state=hs.id)
    hhs join customer cu on hhs.landlord=cu.id
    <where>
      and hhs.state=6
      <!--根据房屋小区、地址查询-->
      <if test="hrent!=null and hrent!=''">
        and (hhs.htitle like "%"#{hrent}"%"
        or hhs.hadr like "%"#{hrent}"%")
      </if>
    </where>
    limit ${start},${pageSize}
  </select>
  <!--计算所有已发布的-->
  <select id="releasedCount" resultType="int">
      <!--select count(*) from house h join house_state hs on h.state=hs.id where h.state=6-->
    select count(*) from
    (select h.*, hs.name  from house h join house_state hs on h.state=hs.id)
    hhs join customer cu on hhs.landlord=cu.id where hhs.state=6
  </select>
  <!--已发布结束-->

  <!--已出租开始-->
  <!--根据条件查询所有已出租的-->
  <select id="queryRented" resultType="map" parameterType="map">
    select hhs.*,cu.cname,cu.cphone,cu.ccard from
    (select h.*, hs.name  from house h join house_state hs on h.state=hs.id)
    hhs join customer cu on hhs.landlord=cu.id
    <where>
      and hhs.state=5
      <!--根据房屋小区、地址查询-->
      <if test="hrent!=null and hrent!=''">
        and hhs.houseid like "%"#{hrent}"%"
      </if>
    </where>
    limit ${start},${pageSize}
  </select>
  <!--计算所有已出租的-->
  <select id="rentedCount" resultType="int">
    select count(*) from
    (select h.*, hs.name  from house h join house_state hs on h.state=hs.id)
    hhs join customer cu on hhs.landlord=cu.id where hhs.state=5
  </select>
  <!--已出租结束-->

  <!--向合同表录入数据-->
  <insert id="addContract" parameterType="com.aaa.house.entity.HouseContract">
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contractid != null">
        contractid,
      </if>
      <if test="hname != null">
        hname,
      </if>
      <if test="hphone != null">
        hphone,
      </if>
      <if test="haddress != null">
        haddress,
      </if>
      <if test="hid != null">
        hid,
      </if>
      <if test="agentid != null">
        agentid,
      </if>
      <if test="ename != null">
        ename,
      </if>
      <if test="ephone != null">
        ephone,
      </if>
      <if test="eaddress != null">
        eaddress,
      </if>
      <if test="eid != null">
        eid,
      </if>
      <if test="hmeter != null">
        hmeter,
      </if>
      <if test="hlocation != null">
        hlocation,
      </if>
      <if test="houseid != null">
        houseid,
      </if>
      <if test="csid != null">
        csid,
      </if>
      <if test="signdate != null">
        signdate,
      </if>
      <if test="endate != null">
        endate,
      </if>
      <if test="paytype != null">
        paytype,
      </if>
      <if test="money != null">
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contractid != null">
        #{contractid,jdbcType=INTEGER},
      </if>
      <if test="hname != null">
        #{hname,jdbcType=VARCHAR},
      </if>
      <if test="hphone != null">
        #{hphone,jdbcType=VARCHAR},
      </if>
      <if test="haddress != null">
        #{haddress,jdbcType=VARCHAR},
      </if>
      <if test="hid != null">
        #{hid,jdbcType=INTEGER},
      </if>
      <if test="agentid != null">
        #{agentid,jdbcType=INTEGER},
      </if>
      <if test="ename != null">
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="ephone != null">
        #{ephone,jdbcType=VARCHAR},
      </if>
      <if test="eaddress != null">
        #{eaddress,jdbcType=VARCHAR},
      </if>
      <if test="eid != null">
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="hmeter != null">
        #{hmeter,jdbcType=INTEGER},
      </if>
      <if test="hlocation != null">
        #{hlocation,jdbcType=VARCHAR},
      </if>
      <if test="houseid != null">
        #{houseid,jdbcType=INTEGER},
      </if>
      <if test="csid != null">
        #{csid,jdbcType=INTEGER},
      </if>
      <if test="signdate != null">
        #{signdate,jdbcType=DATE},
      </if>
      <if test="endate != null">
        #{endate,jdbcType=DATE},
      </if>
      <if test="paytype != null">
        #{paytype,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
<!--根据房屋编号，查询出房东编号,查询出房屋面积，房屋所在地-->
    <select id="queryLandlord" parameterType="java.lang.Integer" resultType="map">
        select landlord,hadr,harea,hrent from house where houseid=#{houseid};
    </select>
    <!--再根据房东id，查询出房东信息-->
    <select id="queryHost" parameterType="java.lang.Integer" resultType="map">
      select cname,cphone,ccard,caddress haddress from customer where id=#{landlord};
    </select>
    <!--根据租客姓名查询出租客的信息-->
    <select id="queryRenter" parameterType="java.lang.String" resultType="map">
        select cname,cphone,ccard,caddress eaddress from customer where cname=#{ename}
    </select>

</mapper>