<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.house.dao.HouseStateMapper">
  <resultMap id="BaseResultMap" type="com.aaa.house.entity.HouseState">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name
  </sql>
  <select id="queryStates" resultType="map">
    select
    <include refid="Base_Column_List" />
    from house_state
  </select>

  <select id="queryState2" resultType="map">
    select
    <include refid="Base_Column_List" />
    from house_state
    where id=2
  </select>

  <select id="queryAgents" resultType="map">
    select id,ename from employee
  </select>

  <!--向房东表中添加房东，并需要获取到该房东的编号插入到房屋表的landlord中-->
  <insert id="addHost" parameterType="com.aaa.house.entity.House">
    insert into customer(cname,cphone) values (#{cname,jdbcType=VARCHAR}, #{cphone,jdbcType=VARCHAR})
  </insert>
</mapper>