<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签订合同</title>
    <link rel="icon" href="../../resources/images/favicon.ico"/>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../js/jquery-2.1.3.js"></script>
    <!--穿梭框的layui样式库-->
    <!--<link rel="stylesheet" href="../layui/css/layui.css" >-->
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
        .el-form-item__content {
            line-height: 40px;
            position: relative;
            font-size: 14px;
            width: 200px;
        }
        /* 设置穿梭框的 宽高 */
        .el-transfer-panel{
            width : 350px;
            height: 400px;
        }
        .el-transfer-panel__list {
            margin: 0;
            padding: 6px 0;
            list-style: none;
            height: 390px;
            overflow: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .el-transfer__buttons {
            display: inline-block;
            vertical-align: middle;
            padding: 0 30px;
        }
        .el-form-item__label {
            text-align: right;
            vertical-align: middle;
            float: left;
            font-size: 14px;
            color: #606266;
            line-height: 40px;
            padding: 0 12px 0 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-left: 30px;
        }
        .div1{
            height: 1000px;
        }
        .el-container {
            height: 100%;
            margin-bottom: 40px;
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
        }
        .el-header
        body .el-main {
            height: 510px;
            background-color: #EBEEF5;
            color: #333;
            text-align: center;
        }
        html,body{
            margin:0px;
            height:100%;
        }
        /*img{*/
        /*width:50px;*/
        /*height: 50px;*/
        /*}*/

    </style>
</head>
<body>
<div id="app" class="div1">
<el-container>
    <el-header>
        <h1>房屋租赁合同</h1>
    </el-header>
    <el-main>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <!--第一行-->
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-form-item label="合同编号"prop="contractid">
                        <el-input  v-model="ruleForm.contractid"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="经纪人编号" prop="agentid">
                        <el-input  v-model="ruleForm.agentid"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="房屋编号" prop="houseid">
                        <el-input  v-model="ruleForm.houseid" @blur="showHost"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <!--第二行-->
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-form-item label="房东姓名" prop="hname">
                        <el-input  v-model="ruleForm.hname"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="房东电话" prop="hphone">
                        <el-input  v-model="ruleForm.hphone"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="房东住址" prop="haddress">
                        <el-input  v-model="ruleForm.haddress"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="房东身份证号" prop="hid">
                        <el-input v-model="ruleForm.hid" ></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <!--第三行-->
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-form-item label="租客姓名" prop="ename">
                        <el-input v-model="ruleForm.ename" @blur="showRenter"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="租客电话" prop="ephone">
                        <el-input v-model="ruleForm.ephone"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="租客住址" prop="eaddress">
                        <el-input v-model="ruleForm.eaddress"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="租客身份证号" prop="eid">
                        <el-input v-model="ruleForm.eid"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <!--第四行-->
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-form-item label="房屋面积" prop="hmeter">
                        <el-input v-model="ruleForm.hmeter" placeholder="平方米"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="房屋位置" prop="hlocation">
                        <el-input v-model="ruleForm.hlocation" ></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="合同生效日期" :label-width="formLabelWidth">
                        <el-date-picker
                                v-model="ruleForm.signdate"
                                align="right"
                                type="date"
                                placeholder="选择日期"
                                :picker-options="pickerOptions" >
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="合同截止日期" :label-width="formLabelWidth">
                        <el-date-picker
                                v-model="ruleForm.endate"
                                align="right"
                                type="date"
                                placeholder="选择日期"
                                :picker-options="pickerOptions" >
                        </el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>

            <!--第五行-->
            <el-row :gutter="20">
                <el-col :span="6">
                    <el-form-item label="付款方式" prop="paytype">
                        <template>
                            <el-radio v-model="ruleForm.paytype" label="1">贷款</el-radio>
                            <el-radio v-model="ruleForm.paytype" label="2">自付</el-radio>
                        </template>
                    </el-form-item>
                </el-col>

                <el-col :span="6">
                    <el-form-item label="应付租金" prop="money">
                        <el-input v-model="ruleForm.money"></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="6">
                    <el-form-item label="需付押金" prop="foregift">
                        <el-input v-model="ruleForm.foregift" >1000</el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <!--第六行-->
            <el-row :gutter="20" type="flex" justify="center">
                <el-col :span="8" >
                    <el-form-item>
                        <el-button type="primary" @click="saveContract">签订合同</el-button>
                        <el-button type="primary" @click="loadData">重置</el-button>
                    </el-form-item>
                </el-col>
            </el-row>

        </el-form>
    </el-main>
</el-container>
</div>
<script>
    var vue=new Vue({
        el: "#app",
        data: {
            hostInfo:[],
            renterInfo:[],
            ruleForm: {
                contractid:'',
                houseid:'',
                agentid:'',

                hname:'',
                hphone:'',
                haddress:'',
                hid:'',

                ename:'',
                ephone:'',
                eaddress:'',
                eid:'',

                hmeter:'',
                hlocation:'',
                signdate:'',
                endate:'',

                paytype:'2',
                money: '',
                foregift: ''

            },
            formLabelWidth: '120px',
            rules: {
                houseid: [
                    {required: true, message: '请选择输入房屋编号', trigger: 'blur'}
                ],
                paytype: [
                    {required: true, message: '请选择付款方式', trigger: 'blur'}
                ],
                haddress: [
                    {required: true, message: '请输入房东地址', trigger: 'blur'}
                ],
                ename: [
                    {required: true, message: '请输入租客姓名', trigger: 'blur'}
                ],
                eaddress: [
                    {required: true, message: '请输入租客地址', trigger: 'blur'}
                ]
            },
            pickerOptions:{
                disabledDate:function(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [{
                    text: '今天',
                    onClick:function(picker) {
                        picker.$emit('pick', new Date());
                    }
                }]
            },

        },
        created: function () {
            var self = this;
            this.loadData();
            axios.post('/demo4/getName')
                .then(function (response) {
                    self.ruleForm.agentid=response.data.emp.enumber;
                });
            var Num="";
            for (var i = 0; i < 8; i++) {
                Num+=Math.floor(Math.random()*10);
            }
            self.ruleForm={
                contractid:Num, houseid:'', agentid:'',
                hname:'', hphone:'', haddress:'', hid:'',
                ename:'', ephone:'', eaddress:'', eid:'',
                hmeter:'', hlocation:'', signdate:'', endate:'',
                paytype:'2', money: '', foregift: ''
            };
        },
        methods: {
            loadData:function(){
                // var self=this;
                // var Num="";
                // for (var i = 0; i < 8; i++) {
                //     Num+=Math.floor(Math.random()*10);
                // }
                this.ruleForm={
                    contractid:'', houseid:'', agentid:'',
                    hname:'', hphone:'', haddress:'', hid:'',
                    ename:'', ephone:'', eaddress:'', eid:'',
                    hmeter:'', hlocation:'', signdate:'', endate:'',
                    paytype:'2', money: '', foregift: ''
                }
            },
            // 根据房屋编号获取到房东id，根据房东id在用户表中查询出对应的信息
            showHost:function(){
                var self=this;
                $.ajax({
                   url:'/demo4/part/queryHost',
                   type:'post',
                   data:{houseid:this.ruleForm.houseid},
                   dataType:'json',
                   success:function (msg) {
                       self.hostInfo = msg;
                       alert(self.hostInfo.cname);

                       self.ruleForm={
                           // houseid:'', agentid:'',
                           hname:self.hostInfo.cname, hphone:self.hostInfo.cphone, haddress:'', hid:self.hostInfo.ccard,
                           hmeter:self.hostInfo.harea, hlocation:self.hostInfo.hadr, signdate:'', endate:'',
                           paytype:'2', money: '', foregift: ''
                       }
                   }
                });
                // axios.post('/demo4/part/queryHost',{houseid:this.ruleForm.houseid})
                //     .then(function (response) {
                //         self.hostInfo = response.data;
                //     });

            },
            showRenter:function(){
                var self=this;
                $.ajax({
                    url:'/demo4/part/queryRenter',
                    type:'post',
                    data:{cname:this.ruleForm.ename},
                    dataType:'json',
                    success:function (msg) {
                        self.renterInfo =  msg;
                    }
                });
                // axios.post('/demo4/part/queryRenter',{
                //     cname:this.ruleForm.ename
                // })
                //     .then(function (response) {
                //         self.renterInfo = response.data;
                //     });
                self.ruleForm={
                    ename:self.renterInfo.cname, ephone:self.renterInfo.cphone, eaddress:'', eid:self.renterInfo.ccard
                    // money: '', foregift: ''
                }
            },
            addContract:function () {
                var self=this;
                axios.post("/demo4/house/save",this.ruleForm)
                    .then(function (response) {

                        if (response.data==1){
                            self.$message({
                                message: '恭喜你，操作成功',
                                type: 'success'
                            });
                            self.loadData();
                            axios.post('/demo4/getName')
                                .then(function (response) {
                                    self.ruleForm.agentid=response.data.emp.enumber;
                                });
                        }else{
                            self.$message.error('错了哦，操作失败');
                        }
                    });
                axios.post("/demo4/part/addHost",this.ruleForm)
                    .then(function (response) {
                        if (response.data==1){
                            self.loadData();
                        }else{
                            self.$message.error('错了哦，操作失败');
                        }
                    });
                this.imageUrl='';
            },
            saveContract:function(){
                // var Num="";
                // for (var i = 0; i < 8; i++) {
                //     Num+=Math.floor(Math.random()*10);
                // }
                // // 向房子家具中间表中存入的数据
                // this.furnitureForm={houseid:Num,furnitureid:''}

                var self=this;
                // 写一个数组存入所有的家具编号
                var ids=[];
                $('input[name=\'checkbox\']:checked').each(function () {
                    ids.push($(this).val());
                });
                $.ajax({
                    url:"/demo4/house/saveFurniture",
                    type:"POST",
                    data:{furnitures:ids.toString(),houseid:this.furnitureForm.houseid},
                    dataType:"json",
                    success:function (msg) {
                        if(msg==true){
                            // $('input[name=\'checkbox\']:checked').each(function () {
                            //     $('input[name=\'checkbox\']:checked=fal')
                            // });
                            self.loadData();
                        }else{
                            self.$message.error('错了哦，操作失败');
                        }
                    }
                });
            }


        }
    })
</script>

</body>
</html>