<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示全部信息</title>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>
</head>
<body>
<div id="app">
    <el-row>
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="员工编号或员工名字">
                <el-input v-model="formInline.enameOrDname" placeholder="员工编号或员工名字"></el-input>
            </el-form-item>
            <!--            下拉框的形式显示出内容-->
            <el-form-item label="在职状态">
                <el-select v-model="formInline.id" placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit" icon="el-icon-search">查询</el-button>
                <el-button type="primary" @click="flush" >刷新</el-button>
                <el-button type="primary" @click="toSave" class="el-icon-circle-plus-outline">添加</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <el-row>
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    prop="enumber"
                    label="员工编号"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="ename"
                    label="员工姓名"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="esex"
                    label="性别">
            </el-table-column>
            <el-table-column
                    prop="ephone"
                    label="员工手机号">
            </el-table-column>
            <el-table-column
                    prop="hiredate"
                    label="入职日期">
            </el-table-column>
            <!--以下注释内容在详细信息中显示-->
            <!--<el-table-column-->
                    <!--prop="email"-->
                    <!--label="员工邮箱">-->
            <!--</el-table-column>-->
            <!--<el-table-column-->
                    <!--prop="eqq"-->
                    <!--label="员工qq号码">-->
            <!--</el-table-column>-->
            <!--<el-table-column-->
                    <!--prop="eaddress"-->
                    <!--label="员工家庭住址">-->
            <!--</el-table-column>-->
            <el-table-column
                    prop="rname"
                    label="职位">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="状态">
            </el-table-column>
            <el-table-column
                    label="头像">
                <template slot-scope="scope">
                    <img v-if="scope.row.headPic" :src="'/demo4/emp/show?fileName='+scope.row.headPic" height="50px;" width="50px;">
                </template>
            </el-table-column>
            <!--            添加按钮-->
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button type="primary"
                               size="mini"
                               @click="handleEdit(scope.$index, scope.row)"
                               type="primary" icon="el-icon-edit"></el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)"
                            type="primary"
                            icon="el-icon-delete"
                            slot="reference"></el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <el-row>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[2,3,4,5,10,15,100, 200, 300, 400]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </el-row>
    <!--    添加修改的模态框-->
    <el-row>
        <!--添加修改弹出框-->
        <el-dialog :title="title" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <!--隐藏主键-->
                <el-input v-model="form.id" type="hidden" autocomplete="off"></el-input>

                <el-form-item label="员工编号" :label-width="formLabelWidth">
                    <el-input v-model="form.enumber" autocomplete="off" :disabled="update" id="aaa"></el-input>
                </el-form-item>
                <el-form-item label="员工姓名" :label-width="formLabelWidth">
                    <el-input v-model="form.ename" autocomplete="off" :disabled="update"></el-input>
                </el-form-item>
                <el-form-item label="性别" :label-width="formLabelWidth">
                    <template>
                        <el-radio v-model="form.esex" label="男" :disabled="update">男</el-radio>
                        <el-radio v-model="form.esex" label="女" :disabled="update">女</el-radio>
                    </template>
                </el-form-item>
                <el-form-item label="员工职位" :label-width="formLabelWidth">
                    <el-select v-model="form.roleid" placeholder="请选择" :disabled="update">
                        <el-option
                                v-for="item in optionsrole"
                                :key="item.roleid"
                                :label="item.rname"
                                :value="item.rid">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="员工手机号" :label-width="formLabelWidth">
                    <el-input v-model="form.ephone" autocomplete="off" :disabled="update"></el-input>
                </el-form-item>
                <el-form-item label="入职日期" :label-width="formLabelWidth">
                    <el-date-picker
                            v-model="form.hiredate"
                            :disabled="update"
                            align="right"
                            type="date"
                            placeholder="选择日期"
                            :picker-options="pickerOptions">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="员工邮箱" :label-width="formLabelWidth">
                    <el-input v-model="form.email" autocomplete="off" :disabled="update"></el-input>
                </el-form-item>
                <el-form-item label="员工qq号码" :label-width="formLabelWidth">
                    <el-input v-model="form.eqq" autocomplete="off" :disabled="update"></el-input>
                </el-form-item>
                <el-form-item label="员工家庭住址" :label-width="formLabelWidth">
                    <el-input v-model="form.eaddress" autocomplete="off" :disabled="update"></el-input>
                </el-form-item>
                <el-form-item label="状态" :label-width="formLabelWidth">
                    <el-select v-model="form.stateid" placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.stateid"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item v-if="form.headPic" label="头像" :label-width="formLabelWidth">
                    <img v-if="form.headPic" :src="'/demo4/emp/show?fileName='+form.headPic" height="160px;" width="160px;">
                </el-form-item>
                <el-form-item label="员工上传头像" :label-width="formLabelWidth">
                    <el-upload
                            name="headPic"
                            class="avatar-uploader"
                            action="/demo4/emp/uploadHeadPic"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="imageUrl" :src="imageUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="danger" @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveData">确 定</el-button>
            </div>
        </el-dialog>
    </el-row>
</div>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            tableData: [],
            currentPage: 1,
            pageSize: 3,
            total: 0,
            formInline: {
                enameOrDname: '',
                id: ''
            },
            update:true,//是否可修改
            options: [],
            optionsrole:[],
            title: '',
            dialogFormVisible: false,
            form: {
                id: '',
                enumber: '',
                ename: '',
                ephone: '',
                hiredate:'',
                // email: '',
                // eqq: '',
                // eaddress: '',
                esex:'男',
                headPic:'',
                headPicName:'',
                headPicT:'',
                rname:'',
                name: '',
                visible: false
            },
            formLabelWidth: '120px',
            pickerOptions: {
                disabledDate: function (time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [{
                    text: '今天',
                    onClick: function (picker) {
                        picker.$emit('pick', new Date());
                    }
                }, {
                    text: '昨天',
                    onClick: function (picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24);
                        picker.$emit('pick', date);
                    }
                }, {
                    text: '一周前',
                    onClick: function (picker) {
                        const date = new Date();
                        date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', date);
                    }
                }]
            },
            imageUrl:'',
            url:''

        },
        created:function(){
            this.loadData();
            var self = this;
            //获取所有在职状态
            axios.post('/demo4/emp/list')
                .then(function (response) {
                    self.options=response.data;
                });
            //获取角色列表
            axios.post('/demo4/emp/roleList')
                .then(function (response) {
                    self.optionsrole=response.data;
                });
        },
        methods: {
            loadData:function(){
                var self = this;
                //开始位置  (currentPage-1)*pageSize
                var start = (this.currentPage-1)*this.pageSize;
                axios.post('/demo4/emp/page',{start:start,pageSize:this.pageSize,
                    ename:this.formInline.enameOrDname,id:this.formInline.id})
                    .then(function (response) {
                        // handle success
                        console.log(response);
                        //JSON.stringify  把json对象转换为json字符串
                        console.log(JSON.stringify(response.data));
                        //JSON.parse()把json字符串转换为json对象
                        console.log(response);
                        self.tableData=response.data.empList;
                        self.total=response.data.total;
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .then(function () {
                        // always executed
                    });
            },
            //分页查询的方法，每页的数量
            handleSizeChange:function(val) {
                console.log('每页条数:'+val);
                this.pageSize=val;
                this.loadData();//封装的有方法
            },
            //当前页
            handleCurrentChange:function(val) {
                console.log('当前页:'+ val);
                this.currentPage=val;
                this.loadData();
            },
            //点击提交
            onSubmit:function() {
                console.log('submit!');
                this.loadData();
            },
            flush:function(){
                this.pageSize=3;
                this.currentPage=1;
                this.formInline.id='';
                this.formInline.enameOrDname='';
                this.loadData();
            },
            //添加员工的方法
            toSave:function () {
                //弹出框显示
                this.dialogFormVisible=true;
                //生成随机数
                var Num="2019";
                for (var i = 0; i < 4; i++) {
                    Num+=Math.floor(Math.random()*10);
                }
                this.title='员工添加';
                this.url="/demo4/emp/save";
                this.imageUrl='';
                this.update=false;
                //把缓存的数据清空
                this. form= {
                        id:'',
                        enumber: Num,
                        ename: '',
                        esex:'男',
                        ephone: '',
                        hiredate:'',
                        email: '',
                        eqq: '',
                        eaddress: '',
                        rname:'',
                        name: '',
                        headPic:'',
                        headPicName:''
                };

            },
            //修改的方法,index是下标，row是这一行显示的内容
            handleEdit:function (index,row) {
                //console.log(index,row)
                this.title='员工修改';
                this.url='/demo4/emp/update';
                this.update=true;
                //赋值
                this.form=row;
                //让弹出框显示
                this.dialogFormVisible=true;
                this.imageUrl='';
            },
            //添加或者修改成功提示一下
            saveData:function () {
                var self=this;
                this.form.headPic =this.form.headPicT;
                axios.post(this.url,this.form)
                    .then(function (response) {
                        //如果添加或者修改成功
                        if (response.data==1){
                            self.$message({
                                message:'恭喜你，操作成功!',
                                type:'success'
                            });
                            //关闭弹出框
                            self.dialogFormVisible= false;
                            //刷新页面
                            self.loadData();
                        } else{
                            self.$message.error('错了，重新操作!');
                        }
                    })
            },
            //删除操作
            handleDelete:function (index,row) {
                console.log(index,row);
                var self=this;
                this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示',{
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    axios.post("/demo4/emp/delete?id="+row.id)
                        .then(function (response) {
                            //删除成功
                            if(response.data==1){
                                self.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                                //刷新页面
                                self.loadData();
                            }else{
                                //删除失败
                                self.$message.error('删除失败，请查看是否正确');
                            }
                        })
                }).catch(function () {
                    this.$message({
                        type:'info',
                        message:'已取消删除'
                    });
                });
            },
            //头像上传成功的操作
            handleAvatarSuccess:function(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw);
                this.form.headPicName = file.response.originalFilename;
                this.form.headPicT =file.response.newFileName;
            },
            //头像上传之前做的操作
            beforeAvatarUpload:function(file) {
                var isJPG = file.type === 'image/jpeg';
                var isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }
        }
    });
</script>
</body>
</html>