<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色分配</title>
    <!--vue依赖的js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios样式-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--elemeentui依赖的css-->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/demo4/resources/js/jquery.js"></script>
    <script src="/demo4/resources/js/ele.js"></script>
    <link href="/demo4/resources/css/ele.css" rel="stylesheet">
</head>
<body>

    <div id="app">
        <h1>&nbsp;角色分配</h1>
        <el-row>
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="员工名称或编号">
                    <el-input v-model="formInline.ename" placeholder="员工名称或编号"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit" icon="el-icon-search">查询</el-button>
                    <el-button type="primary" @click="flash">刷新</el-button>
                </el-form-item>
            </el-form>
        </el-row>

        <el-row :gutter="20">

            <el-col :span="8">
                <div class="grid-content bg-purple">

                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>员工信息</span>
                        </div>
                        <div class="text item">
                            <el-form :model="form" label-width="80px">
                                <input type="hidden" v-model="form.id"/>
                                <el-form-item label="员工编号">
                                    <el-input v-model="form.enumber" :disabled="true"></el-input>
                                </el-form-item>
                                <el-form-item label="员工名字">
                                    <el-input v-model="form.ename" :disabled="true"></el-input>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-card>
                    <el-card class="box-card">
                        <el-button type="primary" @click="getCheckedKeys">修改</el-button>
                    </el-card>
                </div>
            </el-col>
            <el-col :span="16">
                <div class="grid-content bg-purple">

                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>对应角色</span>
                        </div>
                        <div class="text item">
                            <el-tree
                                    :data="treeData"
                                    show-checkbox
                                    check-strictly="true"
                                    node-key="rid"
                                    ref="tree"
                                    default-expand-all
                                    :default-checked-keys="defaultSelected"
                                    @node-click="handleNodeClick">
                            </el-tree>
                        </div>
                    </el-card>
                </div>
            </el-col>
        </el-row>
    </div>
    <script>
        var vue=new Vue({
            el:'#app',
            data:{
                treeData:[],//角色树
                defaultSelected:[],//默认选中状态
                formInline: {//员工查询条件
                    ename:''
                },
                form:{//员工信息表
                    id:'',
                    ename:'',
                    enumber:''
                }
            },
            created:function(){
                var self=this;
                //获取角色树
                axios.post("/demo4/roleTree/tree", this.form)
                    .then(function (response) {
                        self.treeData=response.data;
                    })
            },
            methods: {
                handleNodeClick:function(data) {
                    if(data.url!=null&&data.url!='null'&&data.url!=''&&data.url!='undefined') {
                        console.log(JSON.stringify(data));
                    }
                },
                //员工提交查询
                onSubmit:function() {
                    var self=this;
                    console.log('submit!');
                    //根据员工编号或名称查询员工信息
                    axios.post("/demo4/emp/page",{start:0,pageSize:100,ename:this.formInline.ename})
                        .then(function (response) {
                            //获取员工id
                        var eid=response.data.empList[0].id;
                        // alert(eid);
                        // alert(response.data.empList);
                        //赋值
                        self.form=response.data.empList[0];
                        //获取当前查询的员工对应的所有角色
                            $.ajax({
                               url:'/demo4/roleTree/getRidByEid',
                               data:{eid:eid},
                               dataType:'json',
                               success:function (msg) {
                                   // alert(msg);
                                   self.$refs.tree.setCheckedKeys([]);
                                   self.defaultSelected=msg;
                               }
                            });
                        })
                },
                //菜单刷新
                flash:function () {
                    var self=this;
                    self.formInline.ename='';
                    self.form.id='';
                    self.form.ename='';
                    self.form.enumber='';
                    self.$refs.tree.setCheckedKeys([]);
                },
                //角色修改提交方法
                getCheckedKeys:function () {
                    var self=this;
                    var keys1=self.$refs.tree.getCheckedKeys();
                    //var keys2=self.$refs.tree.getHalfCheckedKeys();
                    //alert(keys2);
                    var setKeys=[];
                    for (var i = 0; i < keys1.length; i++) {
                        setKeys.push(keys1[i]);
                    }
                    // alert(setKeys);
                    // for (var i = 0; i < keys2.length; i++) {
                    //     setKeys.push(keys2[i]);
                    // }
                    $.ajax({
                       url:'/demo4/roleTree/addMenu',
                       type:'post',
                       dataType:'json',
                       data:{"rid[]":setKeys},
                       success:function (msg) {
                           if (msg==true){
                               self.$message({
                                   type: 'success',
                                   message: '角色设置成功!'
                               });
                               //刷新页面
                               self.$refs.tree.setCheckedKeys([]);
                               self.defaultSelected=setKeys;
                           }else {
                               self.$message.error('啊哦，设置失败');
                           }
                       }
                    });
                }
            }
        });

    </script>
</body>
</html>