<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>树状列表</title>
    <!--vue依赖的js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios样式-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--elemeentui依赖的css-->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/demo4/resources/js/jquery.js"></script>
    <script src="/demo4/resources/js/ele.js"></script>
    <link href="/demo4/resources/css/ele.css" rel="stylesheet">
</head>
<body>

    <div id="app">
        <h1>&nbsp;权限分配</h1>
        <el-row>
            <el-form :inline="true" :model="formInline" class="demo-form-inline">
                <el-form-item label="角色名称">
                    <!--<el-input v-model="formInline.rname" placeholder="角色名称或编号"></el-input>-->

                    <el-select v-model="formInline.rname" placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.rid"
                                :label="item.rname"
                                :value="item.rid">
                        </el-option>
                    </el-select>

                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit" icon="el-icon-search">查询</el-button>
                    <el-button type="primary" @click="flash">刷新</el-button>
                </el-form-item>
            </el-form>
        </el-row>

        <el-row :gutter="20">

            <el-col :span="8">
                <div class="grid-content bg-purple">

                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>角色信息</span>
                        </div>
                        <div class="text item">
                            <el-form :model="roleForm" label-width="80px">
                                <input type="hidden" v-model="roleForm.rid"/>
                                <el-form-item label="角色名字">
                                    <el-input v-model="roleForm.rname" :disabled="true"></el-input>
                                </el-form-item>
                                <el-form-item label="角色介绍">
                                    <el-input v-model="roleForm.rdesc" :disabled="true"></el-input>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-card>
                    <el-card class="box-card">
                        <el-button type="primary" @click="getCheckedKeys">修改</el-button>
                    </el-card>
                </div>
            </el-col>
            <el-col :span="16">
                <div class="grid-content bg-purple">

                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>对应权限</span>
                        </div>
                        <div class="text item">
                            <el-tree
                                    :data="treeData"
                                    show-checkbox
                                    node-key="mid"
                                    ref="tree"
                                    default-expand-all
                                    :default-checked-keys="defaultSelected"
                                    @node-click="handleNodeClick">
                            </el-tree>
                        </div>
                    </el-card>
                </div>
            </el-col>
        </el-row>
    </div>
    <script>
        var vue=new Vue({
            el:'#app',
            data:{
                treeData:[],//权限树
                defaultSelected:[],//默认选中状态
                formInline: {//角色查询条件
                    rname:''
                },
                options:[],
                roleForm:{
                    rid:'',
                    rname:'',
                    rdesc:''
                }
            },
            created:function(){
                var self=this;
                //获取权限树
                axios.post("/demo4/power/tree", this.form)
                    .then(function (response) {
                        self.treeData=response.data;
                    });
                //获取所有角色名称
                axios.post("/demo4/role/page",{start:0,pageSize:100,rname:self.formInline.rname})
                    .then(function (response) {
                        self.options=response.data.roleList;
                    })
            },
            methods: {
                handleNodeClick:function(data) {
                    if(data.url!=null&&data.url!='null'&&data.url!=''&&data.url!='undefined') {
                        console.log(JSON.stringify(data));
                    }
                },
                //角色提交查询
                onSubmit:function() {
                    var self=this;
                    console.log('submit!');
                    //根据角色编号或名称查询角色信息
                    axios.post("/demo4/role/getRoleByName",{rname:this.formInline.rname})
                        .then(function (response) {
                        var rid=response.data.roles.rid;
                        //赋值
                        self.roleForm=response.data.roles;
                        //获取当前查询的角色对应的所有权限
                            $.ajax({
                               url:'/demo4/power/getMidByRid',
                               data:{rid:rid},
                               dataType:'json',
                               success:function (msg) {
                                   self.$refs.tree.setCheckedKeys([]);
                                   self.defaultSelected=msg;
                               }
                            });
                        })
                },
                //菜单刷新
                flash:function () {
                    var self=this;
                    self.formInline.rname='';
                    self.roleForm.rid='';
                    self.roleForm.rname='';
                    self.roleForm.rdesc='';
                    self.$refs.tree.setCheckedKeys([]);
                },
                //权限修改提交方法
                getCheckedKeys:function () {
                    var self=this;
                    var keys1=self.$refs.tree.getCheckedKeys();
                    //var keys2=self.$refs.tree.getHalfCheckedKeys();

                    var setKeys=[];
                    for (var i = 0; i < keys1.length; i++) {
                        setKeys.push(keys1[i]);
                    }
                    // for (var i = 0; i < keys2.length; i++) {
                    //     setKeys.push(keys2[i]);
                    // }
                    $.ajax({
                       url:'/demo4/power/setPowerOrRole',
                       type:'post',
                       dataType:'json',
                       data:{"mid[]":setKeys},
                       success:function (msg) {
                           if (msg==true){
                               self.$message({
                                   type: 'success',
                                   message: '权限设置成功!'
                               });
                               //刷新页面
                               self.$refs.tree.setCheckedKeys([]);
                               self.defaultSelected=setKeys;
                           }else {
                               self.$message.error('啊哦，设置失败');
                           }
                       }
                    });
                }
            }
        });

    </script>
</body>
</html>