<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>贝贝租房后台管理系统</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function(){
            var element = layui.element;

        });
    </script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            贝贝租房
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="../img/logo.png" class="layui-nav-img">
                    杨金瑞
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="logout">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="/demo4/customer/list.html" target="change">用户管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">员工管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" target="change">权限管理</a></dd>
                        <dd><a href="/demo4/employee/list.html;" target="change">员工列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="#">房源管理</a>
                    <dl class="layui-nav-child" >
                        <!--id="app" @click="toSave"-->
                        <dd><a href="/demo4/house/addhouse.html" target="change" >添加房源</a></dd>
                        <dd><a href="/demo4/house/house.html" target="change">房源审核</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <iframe width="100%" style="border: 0px;" height="650px;" src="/demo4/employee/list.html" name="change"></iframe>
        </div>
    </div>
</div>
<!--<script>-->
<!--    new Vue({-->
<!--        el:"#app",-->
<!--        data: {-->
<!--            ruleForm:{-->
<!--                id:'',-->
<!--                houseid:'',-->
<!--                htitle:'',-->
<!--                hadr:'',-->
<!--                hrent:'',-->
<!--                headPic:'',-->
<!--                hfloor:'',-->
<!--                harea:'',-->
<!--                orientation:'',-->
<!--                releasedate:'',-->
<!--                hdesc:'',-->
<!--                state:'',-->
<!--                name:'',-->
<!--                headPicName:'',-->
<!--                furnitures:[]-->
<!--            },-->
<!--            url:''-->
<!--        },-->
<!--        created: function () {-->
<!--            this.loadData();-->
<!--            var self = this;-->
<!--            axios.post('/demo4/part/furnitures')-->
<!--                .then(function (response) {-->
<!--                    self.furnitures = response.data;-->
<!--                })-->
<!--        },-->


<!--        method:{-->
<!--            toSave:function () {-->
<!--                this.url="/demo4/house/addhouse.html";-->
<!--                //随机数-->
<!--                var Num="";-->
<!--                for (var i = 0; i < 8; i++) {-->
<!--                    Num+=Math.floor(Math.random()*10);-->
<!--                }-->
<!--                this.ruleForm={id:'', houseid:Num, htitle:'', hadr:'',-->
<!--                    hrent:'', headPic:'',headPicName:'', hfloor:'', harea:'', orientation:'',-->
<!--                    releasedate:'', hdesc:''-->
<!--                };-->
<!--            },-->
<!--        }-->
<!--    })-->
<!--</script>-->
</body>
</html>