<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../../resources/images/favicon.ico"/>
    <script src="../../resources/js/jquery.js"></script>
    <script src="../../resources/vue/vue.js"></script>
    <script src="../../resources/js/ele.js"></script>
    <link href="../../resources/css/ele.css" rel="stylesheet">
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<style>
    .cusInfo{
        color: #888888;
        background-color: #f8f8f9;
        padding: 10px;
        margin-left: 20px;
        padding-right: 500px;
        margin-top: 30px;
        border-bottom: 1px solid lightgray;
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }
    .avatar {
        width: 60px;
        height: 60px;
        display: block;
    }
</style>
<body>
<div id="house">
    <div style="margin-bottom: 30px">
        <h2 style="margin-bottom: 30px">我的账户信息</h2>
        <span class="cusInfo">请完善个人信息</span>
    </div>
    <div>
        <el-form :model="person" label-width="100px" :inline="true" :rules="rules">
            <input type="hidden" v-model="person.id"/>
            <el-form-item label="编号" :label-width="formLabelWidth">
                <el-input v-model="person.cnumber" readonly="readonly" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="姓名" :label-width="formLabelWidth">
                <el-input v-model="person.cname"  autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
                <template>
                    <el-radio v-model="person.csex" label="男">男</el-radio>
                    <el-radio v-model="person.csex" label="女">女</el-radio>
                </template>
            </el-form-item>
            <el-form-item label="电话" :label-width="formLabelWidth">
                <el-input v-model="person.cphone"  autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="身份证号" :label-width="formLabelWidth">
                <el-input v-model="person.ccard" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="用户名" :label-width="formLabelWidth">
                <el-input v-model="person.cusername" autocomplete="off"></el-input>
            </el-form-item>
            <!--<el-form-item label="密码" :label-width="formLabelWidth">
                <el-input v-model="person.cpassword" autocomplete="off"></el-input>
            </el-form-item>-->
            <el-form-item label="头像" v-if="person.headPic" :label-width="formLabelWidth">
                <img v-if="person.headPic" :src="'/demo4/customer/show?fileName='+person.headPic" height="60px;"
                     width="60px;">
            </el-form-item>
            <el-form-item label="" :label-width="formLabelWidth">
                <el-upload
                        name="headPic"
                        class="avatar-uploader"
                        action="/demo4/customer/uploadHeadPic"
                        :show-file-list="false"
                        :auto-upload="true"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload">
                    <img v-if="imageUrl" :src="imageUrl" class="avatar" height="60px;"
                         width="60px;">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>
            <el-form-item label="客户类型" :label-width="formLabelWidth">
                <el-select v-model="person.ctype"  placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.ctype"
                            :label="item.ctname"
                            :value="item.ctype">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <el-button type="primary" @click="save()" style="margin-left: 300px">确 定</el-button>
        <el-button type="primary" @click="flush">刷新</el-button>
    </div>
</div>
</body>
<script>
    new Vue({
        el: "#house",
        data: {
            options:[],
            person:{id:'',
                cnumber:'',
                cname:'',
                csex:'男',
                cphone:'',
                ccard:'',
                cusername:'',
                cpassword:'',
                state:'',
                cimg:'',
                headPic:'',
                headPicName:'',
                ctype:'',
                headPicT:''},
            formLabelWidth: '120px',
            rules:{
                cusername:[
                    { required: true, message: '请输入用户名', trigger: 'blur' },
                    { min: 3, max: 6, message: '长度在 3 到 5 个字符', trigger: 'blur' }
                ],
                ccard:[
                    { required: true, message: '请输入用户名', trigger: 'blur' },
                    { length:18, message: '长度为18位', trigger: 'blur' }
                ]
            },
            imageUrl:''
        },
        mounted: function () {
            this.load();
            var _this = this;
            //获取所有客户类型
            axios.post('/demo4/custype/queryType')
                .then(function (response) {
                    _this.options=response.data;
                });
        },
        methods: {
            load: function () {
                var _this = this;
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/demo4/customer/getCusFromSession",
                    success: function (data) {
                        //console.log(data);
                        _this.person=data.object;
                        _this.person.ctype=parseInt(data.object.ctype);
                    }
                });
            },
            beforeRemove:function () {
                this.$confirm("确定移除?");
            },
            handleAvatarSuccess:function(res, file) {
                alert(111);
                this.imageUrl = URL.createObjectURL(file.raw);
                this.person.headPicName = file.response.originalFilename;
                this.person.headPicT =file.response.newFileName;
                //this.load();
            },
            beforeAvatarUpload:function(file) {
                var isJPG = file.type === 'image/jpeg';
                var isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },
            flush:function(){
                this.load();
            },
            save:function () {
                var _this = this;
                //console.log(_this.person)
                this.person.headPic=this.person.headPicT;
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/demo4/customer/insert",
                    data:_this.person,
                    success: function (data) {
                        if (data.code==200){
                            _this.$message.success(data.msg);
                        }else{
                            _this.$message.error(data.msg);
                        }
                    }
                });
            }
        }
    });
</script>
</html>
