<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示全部信息</title>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
    </style>
</head>
<body>
<div id="app">
    <el-row>
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <el-form-item label="请输入合同编号或者借贷人姓名">
                <el-input v-model="formInline.jdname" placeholder="请输入合同编号或者借贷人姓名"></el-input>
            </el-form-item>
            <!--            下拉框的形式显示出内容-->
            <el-form-item label="还钱状态">
                <el-select v-model="formInline.id" placeholder="请选择">
                    <el-option
                            v-for="item in optionsrole"
                            :key="item.id"
                            :label="item.audit"
                            :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit" icon="el-icon-search">查询</el-button>
                <el-button type="primary" @click="flush" >刷新</el-button>
                <el-button type="primary" @click="toSave" class="el-icon-circle-plus-outline">添加</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <el-row>
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    prop="jdid"
                    label="借贷编号"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="jdname"
                    label="借贷人姓名"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="cdDate"
                    label="借贷日期">
            </el-table-column>
            <el-table-column
                    prop="repaymentDate"
                    label="还款日期">
            </el-table-column>
            <el-table-column
                    prop="jdmoney"
                    label="借贷金额">
            </el-table-column>
            <el-table-column
                    prop="jdinterest"
                    label="利息">
            </el-table-column>
            <el-table-column
                    prop="sum"
                    label="还款金额">
            </el-table-column>
            <!--以下注释内容在详细信息中显示-->
            <el-table-column
                    label="身份证照片">
                <template slot-scope="scope">
                    <img v-if="scope.row.headPic" :src="'/demo4/lend/show?fileName='+scope.row.headPic" height="50px;" width="50px;">
                </template>
            </el-table-column>
            <el-table-column
                    prop="audit"
                    label="还款状态">
            </el-table-column>
            <el-table-column
                    prop="contractid"
                    label="合同编号">
            </el-table-column>
            <!--            添加按钮-->
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button type="primary"
                               size="mini"
                               @click="handleEdit(scope.$index, scope.row)"
                               type="primary" icon="el-icon-edit"></el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)"
                            type="primary"
                            icon="el-icon-delete"
                            slot="reference"></el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <el-row>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[2,3,4,5,10,15,100, 200, 300, 400]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </el-row>
    <!--    添加修改的模态框-->
    <el-row>
        <!--添加修改弹出框-->
        <el-dialog :title="title" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <!--隐藏主键-->
                <el-input v-model="form.id" type="hidden" autocomplete="off"></el-input>
                <el-form-item label="借贷编号" :label-width="formLabelWidth">
                    <el-input v-model="form.jdid" autocomplete="off" readonly="readonly"></el-input>
                </el-form-item>
                <el-form-item label="借贷人姓名" :label-width="formLabelWidth">
                    <el-input v-model="form.jdname" autocomplete="off" readonly="readonly"></el-input>
                </el-form-item>
                <el-form-item label="借贷金额" :label-width="formLabelWidth">
                    <el-input v-model="form.jdmoney" autocomplete="off" readonly="readonly"></el-input>
                </el-form-item>
                <el-form-item label="利息" :label-width="formLabelWidth">
                    <el-input v-model="form.jdinterest" autocomplete="off" readonly="readonly"></el-input>
                </el-form-item>
                <el-form-item label="还款金额" :label-width="formLabelWidth">
                    <el-input v-model="form.sum" autocomplete="off" readonly="readonly"></el-input>
                </el-form-item>
                <el-form-item label="借贷日期" :label-width="formLabelWidth">
                    <el-date-picker
                            v-model="form.cdDate"
                            align="right"
                            type="date"
                            placeholder="选择日期"
                            :picker-options="pickerOptions" readonly="readonly">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="还款日期" :label-width="formLabelWidth">
                    <el-date-picker
                                v-model="form.repaymentDate"
                                align="right"
                                type="date"
                                placeholder="选择日期"
                                :picker-options="pickerOptions"></el-date-picker>
                </el-form-item>
                <el-form-item label="是否还完" :label-width="formLabelWidth">
                    <el-select v-model="form.auditid" placeholder="请选择">
                        <el-option
                                v-for="item in optionsrole"
                                :key="item.auditid"
                                :label="item.audit"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="合同编号" :label-width="formLabelWidth">
                    <el-select v-model="form.conid" placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.conid"
                                :label="item.contractid"
                                :value="item.id" readonly="readonly">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item v-if="form.headPic" label="身份证照片" :label-width="formLabelWidth">
                    <img v-if="form.headPic" :src="'/demo4/lend/show?fileName='+form.headPic" height="160px;" width="160px;">
                </el-form-item>

<!--                这是上传头像-->
                <el-form-item label="修改身份证照片" :label-width="formLabelWidth">
                    <el-upload
                            name="headPic"
                            class="avatar-uploader"
                            action="/demo4/lend/uploadHeadPic"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="imageUrl" :src="imageUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="danger" @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="saveData">确 定</el-button>
            </div>
        </el-dialog>
    </el-row>
</div>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            tableData: [],
            currentPage: 1,
            pageSize: 3,
            total: 0,
            formInline: {
                jdname: '',
                id: ''
            },
            options: [],
            optionsrole:[],
            title: '',
            dialogFormVisible: false,
            form: {
                id:'',
                jdid:'',
                jdname: '',
                cdDate:'',
                repaymentDate: '',
                jdmoney:'',
                jdinterest:'',
                sum:'',
                headPic:'',
                headPicName:'',
                audit: '',
                contractid:'',
                visible: false
            },
            formLabelWidth: '120px',
            pickerOptions: {
                disabledDate: function (time) {
                    return time.getTime() < Date.now();
                },
                shortcuts: [{
                    text: '今天',
                    onClick: function (picker) {
                        picker.$emit('pick', new Date());
                    }
                }]
            },
            imageUrl:'',
            url:''

        },
        created:function(){
            this.loadData();
            var self = this;
            //获取所有还钱的状态
            axios.post('/demo4/lend/listCon')
                .then(function (response) {
                    self.options=response.data;
                });
            //获取合同的编号
            axios.post('/demo4/lend/listAudit')
                .then(function (response) {
                    self.optionsrole=response.data;
                });
        },
        methods: {
            loadData:function(){
                var self = this;
                //开始位置  (currentPage-1)*pageSize
                var start = (this.currentPage-1)*this.pageSize;
                axios.post('/demo4/lend/page',{start:start,pageSize:this.pageSize,
                    jdname:this.formInline.jdname,id:this.formInline.id})
                    .then(function (response) {
                        // handle success
                        console.log(response);
                        //JSON.stringify  把json对象转换为json字符串
                        console.log(JSON.stringify(response.data));
                        //JSON.parse()把json字符串转换为json对象
                        console.log(response);
                        self.tableData=response.data.jdname;
                        self.total=response.data.total;
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .then(function () {
                        // always executed
                    });
            },
            //分页查询的方法，每页的数量
            handleSizeChange:function(val) {
                console.log('每页条数:'+val);
                this.pageSize=val;
                this.loadData();//封装的有方法
            },
            //当前页
            handleCurrentChange:function(val) {
                console.log('当前页:'+ val);
                this.currentPage=val;
                this.loadData();
            },
            //点击提交
            onSubmit:function() {
                console.log('submit!');
                this.loadData();
            },
            flush:function(){
                this.pageSize=3;
                this.currentPage=1;
                this.formInline.id='';
                this.formInline.jdname='';
                this.loadData();
            },
            //添加借贷的方法
            toSave:function () {
                //弹出框显示
                this.dialogFormVisible=true;
                //生成随机数
                var Num="1314";
                for (var i = 0; i < 4; i++) {
                    Num+=Math.floor(Math.random()*10);
                }
                this.title='添加借贷名额';
                this.url="/demo4/lend/save";
                this.imageUrl='';
                //把缓存的数据清空
                this. form= {
                    id:'',
                    jdid: Num,
                    jdname: '',
                    cdDate:'',
                    repaymentDate: '',
                    jdmoney:'',
                    jdinterest:'',
                    sum:'',
                    headPic:'',
                    headPicName:'',
                    audit: '',
                    contractid:''
                };

            },
            //修改的方法,index是下标，row是这一行显示的内容
            handleEdit:function (index,row) {
                //console.log(index,row)
                this.title='修改借贷的信息';
                this.url='/demo4/lend/update';
                //赋值
                this.form=row;
                //让弹出框显示
                this.dialogFormVisible=true;
                this.imageUrl='';
            },
            //添加或者修改成功提示一下
            saveData:function () {
                var self=this;
                axios.post(this.url,this.form)
                    .then(function (response) {
                        //如果添加或者修改成功
                        if (response.data==1){
                            self.$message({
                                message:'恭喜你，操作成功!',
                                type:'success'
                            });
                            //关闭弹出框
                            self.dialogFormVisible= false;
                            //刷新页面
                            self.loadData();
                        } else{
                            self.$message.error('错了，重新操作!');
                        }
                    })
            },
            //删除操作
            handleDelete:function (index,row) {
                console.log(index,row);
                var self=this;
                this.$confirm('此操作将永久删除该条数据, 是否继续?', '提示',{
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    axios.post("/demo4/lend/delete?id="+row.id)
                        .then(function (response) {
                            //删除成功
                            if(response.data==1){
                                self.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                                //刷新页面
                                self.loadData();
                            }else{
                                //删除失败
                                self.$message.error('删除失败，请查看是否正确');
                            }
                        })
                }).catch(function () {
                    this.$message({
                        type:'info',
                        message:'已取消删除'
                    });
                });
            },
            //头像上传成功的操作
            handleAvatarSuccess:function(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw);
                this.form.headPicName = file.response.originalFilename;
                this.form.headPic =file.response.newFileName;
            },
            //头像上传之前做的操作
            beforeAvatarUpload:function(file) {
                var isJPG = file.type === 'image/jpeg';
                var isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }
        }
    });
</script>
</body>
</html>