<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房源出租、打印合同</title>
    <link rel="icon" href="../../resources/images/favicon.ico"/>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
        .el-form-item__content {
            line-height: 40px;
            position: relative;
            font-size: 14px;
            width: 200px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-row>
        <template>
            <el-table
                    :data="checkedHouses"
                    style="width: 100%"
                    :row-class-name="tableRowClassName">
                <el-table-column
                        prop="houseid"
                        label="房间编号"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="htitle"
                        label="房间标题"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="hadr"
                        label="房间地址"
                        width="180" >
                </el-table-column>
                <el-table-column
                        prop="hrent"
                        label="租金"
                        width="180">
                </el-table-column>
                <el-table-column
                        label="房屋图片">
                    <template slot-scope="scope">
                        <img v-if="scope.row.headPic" :src="'/demo4/house/show?fileName='+scope.row.headPic" height="100px;" width="100px;">
                    </template>
                </el-table-column>
                <el-table-column
                        prop="orientation"
                        label="房屋朝向"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="harea"
                        label="房屋面积"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="房屋状态"
                        width="180">
                </el-table-column>

                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button
                                type="primary"
                                @click="printContract(scope.$index, scope.row)">签订合同</el-button>
                    </template>
                </el-table-column>

            </el-table>
        </template>
    </el-row>

    <!--签订合同弹框-->
    <el-row>
        <el-dialog :title="title" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <!--隐藏主键-->
                <el-input v-model="form.id" type="hidden" autocomplete="off"></el-input>

                <el-form-item label="房屋编号" :label-width="formLabelWidth">
                    <el-input v-model="form.houseid" autocomplete="off" readonly="readonly"></el-input>
                </el-form-item>
                <el-form-item label="房东姓名" :label-width="formLabelWidth">
                    <el-input v-model="form.cname" autocomplete="off" readonly="readonly"></el-input>
                </el-form-item>


                <el-form-item label="房屋简述" :label-width="formLabelWidth" placeholder="如:小区名称，房屋格局">
                    <el-input v-model="form.htitle" autocomplete="off"readonly="readonly"></el-input>
                </el-form-item>

                <el-form-item label="房屋地址" :label-width="formLabelWidth" placeholder="详细地址">
                    <el-input v-model="form.hadr" autocomplete="off" readonly="readonly"></el-input>
                </el-form-item>

                <el-form-item label="设定租金" :label-width="formLabelWidth">
                    <el-input v-model="form.hrent" autocomplete="off" readonly="readonly"></el-input>
                </el-form-item>

                <el-form-item label="所在楼层" :label-width="formLabelWidth">
                    <el-input v-model="form.hfloor" autocomplete="off" readonly="readonly"></el-input>
                </el-form-item>

                <el-form-item label="整体面积" :label-width="formLabelWidth">
                    <el-input v-model="form.harea" autocomplete="off"readonly="readonly"></el-input>
                </el-form-item>

                <el-form-item label="房屋朝向" :label-width="formLabelWidth">
                    <el-input v-model="form.orientation" autocomplete="off" readonly="readonly"></el-input>
                </el-form-item>


                <el-form-item label="发布日期" :label-width="formLabelWidth">
                    <el-date-picker
                            v-model="form.releasedate"
                            align="right"
                            type="date"
                            placeholder="选择日期"
                            :picker-options="pickerOptions" readonly="readonly">
                    </el-date-picker>
                </el-form-item>

                <el-form-item label="原房屋图片" v-if="form.headPic" :label-width="formLabelWidth">
                    <img v-if="form.headPic" :src="'/demo4/house/show?fileName='+form.headPic" height="160px;" width="160px;">
                </el-form-item>
                <el-form-item label="房屋图片" :label-width="formLabelWidth">
                    <el-upload
                            name="headPic"
                            class="avatar-uploader"
                            action="/demo4/house/uploadHeadPic"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="imageUrl" :src="imageUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>


                <el-form-item label="房屋状态" :label-width="formLabelWidth">
                    <!--v-model="form.state"是向数据库中存入的数据-->
                    <el-select v-model="form.state" filterable placeholder="请选择">
                        <!--el-option是从数据库中查出来待选择的东西-->
                        <el-option
                                v-for="item in options"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>


            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button type="danger" @click="dialogFormVisible = false">取 消</el-button>
                <!--保存或修改-->
                <el-button type="primary" @click="printContract">打印合同</el-button>
            </div>
        </el-dialog>
    </el-row>

    <!--合同显示框-->
    <el-dialog :title="title" :visible.sync="dialogFormVisible" width="53%" center>
        <el-form :model="form" label-width="100px" :inline="false">
            <!--<input type="hidden" name="house_id" value="${hetong.house_id}"/>-->
            <p>出租方：{{form.ename}}（以下简称甲方）        身份证号：{{form.ecard}}</p>　　　
            <p>承租方：{{form.cname}}（以下简称乙方）        身份证号：{{form.ccard}}</p>　
            <p>租赁房屋地址：{{form.hadr}}　</p>　
            <p>依据《中华人民共和国合同法》有关条款，甲乙双方经过充分协商，就乙方租赁甲方房屋事宜达成如下协议：</p>
            <p>一、乙方租赁甲方房屋，以下简称租赁房屋。</p>
            <p>二、起租时间：{{form.begintime}}，退租时间：{{form.endtime}}。
                在合同签订之日，乙方需向甲方支付房屋租金￥{{form.hrent}}。如续租，请提前3天通知甲方，并重新办理租赁手续。<br /></p>　　　　
            <p>三、违约处理：</p>　
            <p>甲方违约：</p>　
            <p>1．如甲方未能及时将押金退还乙方，甲方每天应按押金的2％向乙方支付违约金；</p>
            <p>2．如甲方提供的维修服务项目与协议不相符，乙方有权提前退租，甲方应全额退还剩余的租金。</p>
            <p>乙方违约：</p>　　
            <p>1．如乙方不按时缴纳租金，甲方有权在其押金中扣除，同时收回房屋，所有损失由乙方负责；</p>　
            <p>2．如果乙方在租赁期限未满时退租，甲方仅退还剩余租金的40％（租期未满一个月的不在此例）；</p>　
            <p>四、本协议书一式两份，甲乙双方各执一份；本协议甲乙双方签字后生效。补充协议亦属于合同的一部分。</p>　
            　<br />　　甲方（盖章）：_________　　　　　　　　乙方（盖章）：_________　　<br />　
            　法定代表人（签字）：_________　　　　　法定代表人（签字）：_________　　<br />　　
            担保人（签章）：_________　　<br />　　
            _________年____月____日　　　　　　　　_________年____月____日　　<br />　　
            签订地点：_________　　　　　　　　　　签订地点：_________ <br/>

            <p>
            <div class="button">
                <el-button @click="dialogFormVisible = false">打印合同</el-button>
            </div>
            </p>
        </el-form>

        <div slot="footer" class="dialog-footer">
            <el-button @click="cusfrom = false">关闭</el-button>
        </div>
    </el-dialog>

</div>
<script>
    new Vue({
        el:"#app",
        data:{
            checkedHouses:[],
            id:'',
            title:'',
            formLabelWidth: '120px',
            url:'',
            imageUrl:'',
            form:{
                id:'',
                houseid:'',
                htitle:'',
                hadr:'',
                hrent:'',
                headPic:'',
                hfloor:'',
                harea:'',
                orientation:'',
                releasedate:'',
                hdesc:'',
                state:'',
                name:'',
                headPicName:'',
                cname:''
            }
        },
        created:function () {
            //自动加载
            this.loadData();
        },
        methods: {
            //封装方法
            loadData: function () {
                var self = this;
                //查询出所有已审核过的房源
                axios.post('/demo4/part/queryChecked')
                    .then(function (response) {
                        self.checkedHouses = response.data;
                    })
            },
            printContract:function(index, row) {
                this.title='房屋租赁合同';
                this.url="/demo4/part/setRejectReason";
                //赋值，将查出来的数据显示在弹框里
                this.form=row;
                //让弹出框显示出来
                this.dialogFormVisible=true;
                //在编辑修改时，将缓存的其他原头像置空
                this.imageUrl='';
            },
            //点击发布，成功后该条数据从本页面“消失”
            //修改
            beReleased:function(index, row) {
                var self=this;
                axios.post('/demo4/part/updateChecked',row)
                    .then(function (response) {
                        if (response.data==1){
                            self.loadData();
                        }else{
                            self.$message.error('发布失败,请重试');
                        }
                    })
            },
            printContract:function () {

            }

        }
    });
</script>
</body>
</html>