<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>线上房源</title>
    <link rel="icon" href="../../resources/images/favicon.ico"/>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../js/jquery-2.1.3.js"></script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
        .el-form-item__content {
            line-height: 40px;
            position: relative;
            font-size: 14px;
            width: 200px;
        }
        .el-textarea{
            width:600px;
        }
        /*.el-input__inner{*/
            /*width:400px;*/
            /*!*height: 0px;*!*/
        /*}*/
        .el-input{
            width: 600px;
        }
    </style>
</head>
<body>
<div id="app">
    <h1>线上房源</h1>
    <!--搜索框-->
    <el-row>
        <el-form :inline="true" :model="formInline" class="demo-form-inline">
            <!--根据租金/地址/房屋格局进行查询-->
            <el-form-item label="">
                <el-input style="width: 200px" v-model="formInline.hrent" placeholder="根据道路/小区名查询"></el-input>
            </el-form-item>
            <el-form-item >
                <!--style="margin-left: 20px"-->
                <el-button type="primary" @click="queryBySome">查询</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--已发布列表开始-->
    <el-row>
        <template>
            <el-table
                    :data="releasedHouses"
                    style="width: 100%"
                    :row-class-name="tableRowClassName">
                <el-table-column
                        prop="houseid"
                        label="房间编号"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="htitle"
                        label="所在小区"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="hadr"
                        label="房屋地址"
                        width="180" >
                </el-table-column>
                <el-table-column
                        prop="hrent"
                        label="租金"
                        width="180">
                </el-table-column>
                <el-table-column
                        label="房屋图片">
                    <template slot-scope="scope">
                        <img v-if="scope.row.headPic" :src="'/demo4/house/show?fileName='+scope.row.headPic" height="100px;" width="100px;">
                    </template>
                </el-table-column>
                <el-table-column
                        prop="orientation"
                        label="房屋朝向"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="harea"
                        label="房屋面积"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="房屋状态"
                        width="180">
                </el-table-column>
                <!--<el-table-column label="操作">-->
                    <!--<template slot-scope="scope">-->
                        <!--<el-button-->
                                <!--type="primary"-->
                                <!--@click="toSign(scope.$index, scope.row)">签订合同</el-button>-->
                    <!--</template>-->
                <!--</el-table-column>-->
            </el-table>
        </template>
    </el-row>
    <!--分页-->
    <el-row>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[3,5,10]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </el-row>
    <!--已发布列表结束-->
    <!--合同弹出框开始-->
    <el-row id="row1">
        <el-dialog :title="title" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <el-input v-model="form.id" type="hidden" autocomplete="off"></el-input>

                <el-form-item label="合同编号" :label-width="formLabelWidth">
                    <el-input v-model="form.contractid" autocomplete="off" readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="甲方姓名" :label-width="formLabelWidth">
                    <el-input v-model="form.hname" autocomplete="off" readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="甲方电话" :label-width="formLabelWidth">
                    <el-input v-model="form.hphone" autocomplete="off" readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="甲方地址" :label-width="formLabelWidth">
                    <el-input v-model="form.haddress" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="甲方身份证号" :label-width="formLabelWidth">
                    <el-input v-model="form.hid" autocomplete="off"readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="经纪人编号" :label-width="formLabelWidth">
                    <el-input v-model="form.agentid" autocomplete="off" readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="乙方姓名" :label-width="formLabelWidth">
                    <el-input v-model="form.ename" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="乙方电话" :label-width="formLabelWidth">
                    <el-input v-model="form.ephone" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="乙方地址" :label-width="formLabelWidth">
                    <el-input v-model="form.eaddress" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="乙方身份证号" :label-width="formLabelWidth">
                    <el-input v-model="form.eid" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="房屋面积" :label-width="formLabelWidth">
                    <el-input v-model="form.hmeter" autocomplete="off"readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="房屋位置" :label-width="formLabelWidth">
                    <el-input v-model="form.hlocation" autocomplete="off"readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="房屋编号" :label-width="formLabelWidth">
                    <el-input v-model="form.houseid" autocomplete="off"readonly="true"></el-input>
                </el-form-item>
                <el-form-item label="签订日期" :label-width="formLabelWidth">
                    <el-date-picker
                            v-model="form.signdate"
                            align="right"
                            type="date"
                            placeholder="选择日期"
                            :picker-options="pickerOptions">
                    </el-date-picker>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="danger" @click="dialogFormVisible = false">取 消</el-button>
                <!--保存合同-->
                <el-button type="primary" @click="saveContract">保存合同
                </el-button>
            </div>
        </el-dialog>
    </el-row>
    <!--合同弹出框结束-->


</div>
<script>
    new Vue({
        el: "#app",
        data: {
            releasedHouses: [],
            currentPage:1,
            pageSize:3,
            total:0,
            title: '',
            formLabelWidth: '120px',
            url: '',
            dialogFormVisible: false,
            formInline:{
                hrent:''
            },
            form: {
                id: '',
                contractid: '',
                hname: '',
                hphone: '',
                haddress: '',
                hid: '',
                agentid: '',
                ename: '',
                ephone: '',
                eaddress: '',
                eid: '',
                hmeter: '',
                hlocation: '',
                houseid: '',
                csid:'',
                signdate:''
            },
            pickerOptions:{
                disabledDate:function(time) {
                    return time.getTime() > Date.now();
                },
                shortcuts: [{
                    text: '今天',
                    onClick:function(picker) {
                        picker.$emit('pick', new Date());
                    }
                }]
            }
        },
        created: function () {
            // var self = this;
            this.loadData();

            // var self = this;
            //查询出所有已发布的房源
            // axios.post('/demo4/part/queryReleased')
            //     .then(function (response) {
            //         self.releasedHouses = response.data;
            //     })
        },
        methods:{
            loadData: function () {
                var self = this;
                var start = (this.currentPage - 1) * this.pageSize;
                //查询出所有已发布的房源
                axios.post('/demo4/part/queryReleased',{
                    start:start,
                    pageSize:this.pageSize
                })
                    .then(function (response) {
                        self.releasedHouses = response.data.releasedList;
                        self.total = response.data.total;
                    });

            },
            // 点击弹出合同添加框
            toSign:function (index, row) {
                var self = this;
                this.title='房屋租赁合同';
                this.url="/demo4/part/addContract";
                axios.post('/demo4/getName')
                    .then(function (response) {
                        self.form.agentid=response.data.emp.enumber;
                    });
                //随机数
                var Num="";
                for (var i = 0; i < 8; i++) {
                    Num+=Math.floor(Math.random()*10);
                }
                this.form={id:'', contractid: Num, hname: row.cname, hphone:row.cphone, haddress: '', hid:row.ccard,
                    agentid: '', ename: '', ephone: '', eaddress: '', eid: '', hmeter: row.harea,
                    hlocation:row.hadr, houseid:row.houseid, csid:'', signdate:''
                };
                // this.imageUrl='';
                this.dialogFormVisible=true;
            },
            // 保存合同，向数据库中存入数据
            saveContract:function () {
                var self=this;
                axios.post(this.url,this.form)
                    .then(function (response) {
                        if (response.data==1){
                            self.$message({
                                message: '恭喜你，操作成功',
                                type: 'success'
                            });
                            self.dialogFormVisible=false;
                            self.loadData();
                        }else{
                            //添加或者修改错误
                            self.$message.error('错了哦，操作失败');
                        }
                    })
            },
            //每页条数
            handleSizeChange: function (val) {
                this.pageSize = val;
                this.loadData();
            },
            //当前页
            handleCurrentChange: function (val) {
                this.currentPage = val;
                this.loadData();
            },
            //签订合同，将房屋状态修改为已出租
            // beRented:function(index, row) {
            //     var self=this;
            //     axios.post('/demo4/part/beRented',this.form.houseid)
            //         .then(function (response) {
            //             if (response.data==1){
            //                 self.loadData();
            //             }else{
            //                 self.$message.error('保存失败,请重试');
            //             }
            //         })
            // },
            queryBySome: function () {
                // this.loadData();
                var self = this;
                //开始的位置：(pageNo-1)*pageSize
                var start = (this.currentPage - 1) * this.pageSize;
                axios.post('/demo4/part/queryReleased',{
                    start:start,
                    pageSize:this.pageSize,
                    hrent:self.formInline.hrent,
                })
                    .then(function (response) {

                        self.releasedHouses = response.data.releasedList;
                        self.total = response.data.total;
                    })
            }
            // queryBySome: function () {
            //     // this.loadData();
            //     var self = this;
            //     //开始的位置：(pageNo-1)*pageSize
            //     // var start = (this.currentPage - 1) * this.pageSize;
            //
            //     axios.post('/demo4/part/queryReleased',{
            //         // start:start,
            //         // pageSize:this.pageSize,
            //         hrent:self.formInline.hrent
            //     })
            //         .then(function (response) {
            //             self.releasedHouses = response.data;
            //             // alert(response.data.houseList);
            //             // self.total = response.data.total;
            //         })
            // }
        }
    });
</script>
</body>
</html>