<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待审核房源</title>
    <link rel="icon" href="../../resources/images/favicon.ico"/>
    <!--先引入vue.js库-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../js/jquery-2.1.3.js"></script>
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
        .el-form-item__content {
            line-height: 40px;
            position: relative;
            font-size: 14px;
            width: 200px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-row>
        <template>
            <el-table
                    :data="uncheckedHouses"
                    style="width: 100%"
                    :row-class-name="tableRowClassName">
                <el-table-column
                        prop="houseid"
                        label="房间编号"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="htitle"
                        label="房间标题"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="hadr"
                        label="房间地址"
                        width="180" >
                </el-table-column>
                <el-table-column
                        prop="hrent"
                        label="租金"
                        width="180">
                </el-table-column>
                <el-table-column
                        label="房屋图片">
                    <template slot-scope="scope">
                        <img v-if="scope.row.headPic" :src="'/demo4/house/show?fileName='+scope.row.headPic" height="100px;" width="100px;">
                    </template>
                </el-table-column>
                <el-table-column
                        prop="orientation"
                        label="房屋朝向"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="harea"
                        label="房屋面积"
                        width="180">
                </el-table-column>
                <!--<el-table-column-->
                <!--prop="hdesc"-->
                <!--label="房屋格局"-->
                <!--width="180" >-->
                <!--</el-table-column>-->
                <el-table-column
                        prop="name"
                        label="房屋状态"
                        width="180">
                </el-table-column>

                <!--<el-col type="hidden">-->
                    <!--<el-table-column-->
                            <!--prop="id"-->
                            <!--label=""-->
                            <!--width="180" >-->
                    <!--</el-table-column>-->
                <!--</el-col>-->
                <el-table-column label="审核房源">
                    <template slot-scope="scope">
                        <el-button
                            type="primary"
                            @click="beChecked(scope.$index, scope.row)">点击审核</el-button>
                    </template>
                </el-table-column>

            </el-table>
        </template>
    </el-row>
    <!--分页-->
    <!--<el-row>-->
        <!--<el-pagination-->
                <!--@size-change="handleSizeChange"-->
                <!--@current-change="handleCurrentChange"-->
                <!--:current-page="currentPage"-->
                <!--:page-sizes="[3,5,10]"-->
                <!--:page-size="pageSize"-->
                <!--layout="total, sizes, prev, pager, next, jumper"-->
                <!--:total="total">-->
        <!--</el-pagination>-->
    <!--</el-row>-->
</div>
<script>
    new Vue({
        el:"#app",
        data:{
            // houseData:[],
            currentPage:1,
            pageSize:3,
            total:0,
            uncheckedHouses:[],
            id:'',
            // form:{
            //     id:'',
            //     houseid:'',
            //     htitle:'',
            //     hadr:'',
            //     hrent:'',
            //     headPic:'',
            //     hfloor:'',
            //     harea:'',
            //     orientation:'',
            //     releasedate:'',
            //     hdesc:'',
            //     state:'',
            //     name:'',
            //     headPicName:''
            // },
            formLabelWidth: '120px',
            url:'',
            imageUrl:'',
        },
        
        created:function () {
            //自动加载
            this.loadData();

        },

        methods: {
            //封装方法
            loadData: function () {
                var self = this;
                //开始的位置：(pageNo-1)*pageSize
                // var start = (this.currentPage - 1) * this.pageSize;
            // ,{
            //         start:start,
            //             pageSize:this.pageSize,
            //     }
                //查询出所有待审核的房源
                axios.post('/demo4/part/queryUnchecked')
                .then(function (response) {
                    self.uncheckedHouses = response.data;
                    // self.total = response.data.total;
                })

                // axios.post('/demo4/part/queryByState',{
                //     start:start,
                //     pageSize:this.pageSize,
                //     state:'2'
                // })
                //     .then(function (response) {
                //         self.houseData = response.data.houseList;
                //         self.total = response.data.total;
                //     })
                //     .catch(function (error) {
                //         console.log(error);
                //     })

            },
            //点击审核，成功后该条数据从本页面“消失”
            //修改
            beChecked:function(index, row) {
                var self=this;
                axios.post('/demo4/part/updateUnchecked',row)
                    .then(function (response) {
                        if (response.data==1){
                            self.loadData();
                        }else{
                            self.$message.error('操作失败,请重试');
                        }
                    })
            },
            // beChecked:function(){
            //     var self=this;
            //     alert(this.uncheckedHouses.id)
            //     $.ajax({
            //         url:'/demo4/part/updateUnchecked',
            //         type:'POST',
            //         data:{id:self.uncheckedHouses.id},
            //         dataType:'json',
            //         success:function (data) {
            //             if (data==1){
            //                 self.loadData();
            //             } else{
            //                 self.$message.error('操作失败,请重试');
            //             }
            //         }
            //     })
                // axios.post('/demo4/part/updateUnchecked',this.uncheckedHouses.id)
                //     .then(function (response) {
                //         if (response.data==1){
                //             self.loadData();
                //         }else{
                //             self.$message.error('操作失败,请重试');
                //         }
                //     })

            // },
            //每页条数
            handleSizeChange: function (val) {
                this.pageSize = val;
                this.loadData();
            },
            //当前页
            handleCurrentChange: function (val) {
                this.currentPage = val;
                this.loadData();
            },
            //点击修改为“已审核”,并将对应数据库中的房屋状态id修改

            // handleAvatarSuccess:function(res, file) {
            //     this.imageUrl = URL.createObjectURL(file.raw);
            //     this.form.headPicName=file.response.originalFilename;
            //     this.form.headPic=file.response.newFileName;
            // },
            // beforeAvatarUpload:function(file) {
            //     const isJPG = file.type === 'image/jpeg';
            //     const isLt2M = file.size / 1024 / 1024 < 2;
            //
            //     if (!isJPG) {
            //         this.$message.error('上传头像图片只能是 JPG 格式!');
            //     }
            //     if (!isLt2M) {
            //         this.$message.error('上传头像图片大小不能超过 2MB!');
            //     }
            //     return isJPG && isLt2M;
            // }
        }
    });
</script>
</body>
</html>